<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @movie.name %></h1>
      <p><%= @movie.description %></p>
      <a href="<%= @movie.url %>" target="_blank">¡Reserva!</a>
    </div>
  </div>
</div>
